<div class="mt-4">

  <div>
    <a href="/me/stored/coures">Danh sách khóa học</a>
    <h3>Khoá học đã xóa</h3>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thơi gian tạo</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <button class="btn btn-success btn-restore" data-id="{{this._id}}">Khôi Phục</button>
            <button
              class="mx-2 btn btn-danger"
              data-bs-whatever="{{this._id}}"
              data-bs-toggle="modal"
              data-bs-target="#delete-course-modal"
            >Xóa Vĩnh Viễn</button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Thùng rác trống.
            <a href="/me/stored/coures">Danh sách khóa học.</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm Delete Course }}
<div class="modal" tabindex="-1" id="delete-course-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học ?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-course">Xóa
          Vĩnh Viễn</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
  const deleteCourseModal = document.getElementById('delete-course-modal');
  const btnDeleteCourse = document.querySelector('#btn-delete-course');
  const deleteForm = document.forms['delete-course-form'];
  const restoreForm = document.forms['restore-course-form'];
  const restoreBtn = document.querySelectorAll('.btn-restore');

  restoreBtn.forEach((value)=>{
    value.addEventListener('click', (e)=> {
      e.preventDefault();
      var courseId = value.dataset.id;

      restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreForm.submit();
    })
  })

  if (deleteCourseModal) {
      deleteCourseModal.addEventListener('show.bs.modal', event => {
          const button =event.relatedTarget; 
          courseId = button.getAttribute('data-bs-whatever');
      });
      btnDeleteCourse.addEventListener('click', () => {
          deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
          deleteForm.submit();
      });
  }
</script>